[submodule "msquic"]
	path = hardware/msquic
	url = https://github.com/ubc-systopia/msquic.git
	branch = release/2.1
[submodule "simulator/TCN"]
	path = simulator/TCN
	url = https://github.com/ubc-systopia/TCN.git
