[submodule "simulator/TCN"]
	path = simulator/TCN
	url = https://github.com/ubc-systopia/TCN.git
[submodule "hardware/msquic"]
	path = hardware/msquic
	url = https://github.com/ubc-systopia/msquic.git
	branch = release/2.1
[submodule "hardware/web_client/wrk2"]
	path = hardware/web_client/wrk2
	url = https://github.com/ubc-systopia/wrk2.git
[submodule "hardware/fstack"]
	path = hardware/fstack
	url = git@github.com:F-Stack/f-stack.git
